@import 'tailwindcss';

@layer base {
  :root {
    --border-default: var(--color-stone-200);
  }

  .dark {
    --border-default: var(--color-stone-900);
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border-default, currentColor);
  }
}
